<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
    <title>Settings</title>
    <style>
        /* Add custom styles here */
        .form-box {
            border: 1px solid #ccc;
            padding: 20px 20px 20px 20px;
            border-radius: 8px;
            margin: 20px auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            max-width: 500px;
            text-align: center;
        }

        .input-group {
            display: flex;
            flex-direction: column;
            margin: 20px;
            text-align: left;
        }

        .input-group label {
            margin-bottom: 8px;
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 6px 8px;
            margin: 4px 0;
        }

        .btn-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }

        .btn {
            background-color: #049;
            color: white;
            border: none;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            transition-duration: 0.5s;
            border-radius: 4px;
            cursor: pointer;
            margin: 4px;
        }

        .btn:hover {
            background-color: #036;
        }

        .btn-container a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
<div id="topbar">
</div>
<div id="container">
    <div id="header">
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">

                <a href="/static">HOME</a>
                <a href="/plot_graph">Device usage summary</a>
                <a href="/settings">Settings</a>
                <a href="/logout">Logout</a>
            </div>

        </div>

    </div>

    <div id="banner">

    </div>

    <div class="form-box">
        <form method="post" class="form-container">
            <div class="input-group">
                <label for="arduinoport">Arduino Port:</label>
                <input type="text" id="arduinoport" name="arduinoport" class="form-control" placeholder="{{ x[0] }}">
            </div>
            <div class="input-group">
                <label for="use_telegram">Use telegram Bot (you need to configure your telegram bot actually.):</label>
                <input type="text" id="use_telegram" class="form-control" name="use_telegram" placeholder="{{ x[1] }}">
            </div>
            <div class="input-group">
                <label for="debug">DEBUG mode:</label>
                <input type="text" id="debug" name="debug" class="form-control" placeholder="{{ x[2] }}">
            </div>
            <div class="input-group">
                <label for="port">Server port number:</label>
                <input type="text" class="form-control" id="port" name="port" placeholder="{{ x[3] }}">
            </div>
            <div class="input-group">
                <label for="use_automatic_door">Use automatic door:</label>
                <input type="text" name="use_automatic_door" id="use_automatic_door" class="form-control" placeholder="{{ x[4] }}">
            </div>
            <div class="input-group">
                <label for="use_https">Use https (Http-Secured):</label>
                <input type="text" name="use_https" id="use_https" class="form-control" placeholder="{{ x[5] }}">
            </div>
            <div class="btn-container">
                <button type="submit" class="btn" value="Submit">Submit</button>
            </div>
        </form>
        <center>
            <a href="/addDevices">
                <button class="btn">Add/ remove Home devices</button>
            </a>
        </center>
        <p style="color: red;">{{ error }}</p>
    </div>
</div>
</body>
</html>
